<div class="smart-plant-care">
  <mat-toolbar color="accent">
    <h1>Smart Plant Care</h1>
  </mat-toolbar>
  <div class="smart-plant-care-container">
    <div class="smart-plant-care-grid">
      <ng-container *ngFor="let reading of moistureReadings(); let i = index; trackBy: trackByIndex">
        <app-plant [socket]="socket" [index]="i" [title]="'Plant ' + (i + 1)" [moistureReading]="reading"
          [watering]="motors()[i]" [overrideWatering]="motorOverrides()[i]"></app-plant>
      </ng-container>
      <app-temperature title="Temperature" [reading]="temperature()"></app-temperature>
      <app-humidity title="Humidity" [reading]="humidity()"></app-humidity>
    </div>
  </div>
</div>