<mat-card>
    <mat-card-header>
        <mat-card-title>{{title}}</mat-card-title>
        <div class="watering-status" [class.watering]="watering == 1">{{watering == 1 ? "Watering" : "Not Watering"}}
        </div>
    </mat-card-header>
    <mat-card-content>
        <div class="gauge">
            <div class="gauge__body">
                <div class="gauge__fill" [ngStyle]="{ 'transform': 'rotate(' + (moistureReading * 1.8) + 'deg)' }">
                </div>
                <div class="gauge__cover">{{moistureReading}}%</div>
            </div>
        </div>
        <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-actions>
        <div class="actions">
            <mat-slide-toggle color="primary" labelPosition="before" [checked]="overrideWatering == 1"
                (change)="toggleOverrideWatering()">Override
                Watering</mat-slide-toggle>
            <ng-template [ngIf]="overrideWatering == 1">
                <button mat-raised-button color="primary" (click)="toggleWatering()">{{watering == 0 ? "Water Now" :
                    "Stop Watering"}}</button>
            </ng-template>
        </div>
    </mat-card-actions>
</mat-card>